body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
p {
  color: dimgray;
}
.highlight {
  color: orange;
}

#top-banner {
  display: flex;
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  margin-bottom: 150px;
  padding: 0 5%;
}
#dream-big {
  display: flex;
  background: url(../images/dream-bg.png) no-repeat right bottom;
  margin-bottom: 150px;
  padding: 0 5%;
}

.half-width {
  width: 50%;
  padding-left: 2%;
}

.half-width img {
  width: 90%;
}
.btn-primary {
  background-image: linear-gradient(to right, lightsalmon, tomato);
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
#experience-area {
  background: url("../images/exp-bg.png") no-repeat left center;
  padding-bottom: 150px;
}
.experiences {
  display: flex;
  justify-content: space-evenly;
}
.experience-item {
  width: 40%;
  padding: 20px 20px 100px 20px;
  box-shadow: 10px 10px 40px grey;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
}
#baby {
  border-left: 7px solid;
  border-image: linear-gradient(blue, skyblue);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
